[Unit]
Description=Tftp Server
Requires=tftp.socket
Documentation=man:in.tftpd

[Service]
ExecStart=/usr/sbin/in.tftpd -s {{ tftp_root }}
StandardInput=socket

[Install]
Also=tftp.socket